@model demoWebAdmin.block

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>block</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.previousHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.previousHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.index }) |
    @Html.ActionLink("Back to List", "Index")
</p>
